### Imports

In [1]:
import pandas as pd
from pyvis.network import Network

### Load CSV Data

In [6]:
data = pd.read_csv("data/game-of-thrones-battles.csv")
data.head(5)

,name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,1.0,0.0,15000.0,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,NaN
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Baratheon,...,1.0,0.0,NaN,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,NaN
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,0.0,1.0,15000.0,10000.0,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands,NaN
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,NaN,NaN,NaN,Lannister,...,1.0,1.0,18000.0,20000.0,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands,NaN
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,NaN,Lannister,...,1.0,1.0,1875.0,6000.0,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands,NaN

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                38 non-null     object
 1   year                38 non-null     int64
 2   battle_number       38 non-null     int64
 3   attacker_king       36 non-null     object
 4   defender_king       35 non-null     object
 5   attacker_1          38 non-null     object
 6   attacker_2          10 non-null     object
 7   attacker_3          3 non-null      object
 8   attacker_4          2 non-null      object
 9   defender_1          37 non-null     object
 10  defender_2          2 non-null      object
 11  defender_3          0 non-null      float64
 12  defender_4          0 non-null      float64
 13  attacker_outcome    37 non-null     object
 14  battle_type         37 non-null     object
 15  major_death         37 non-null     float64
 16  major_capture       37 non-null     float64
 17  attacker_size       24 non-null     float64
 18  defender_size       19 non-null     float64
 19  attacker_commander  37 non-null     object
 20  defender_commander  28 non-null     object
 21  summer              37 non-null     float64
 22  location            37 non-null     object
 23  region              38 non-null     object
 24  note                5 non-null      object
dtypes: float64(7), int64(2), object(16)
memory usage: 7.6+ KB

### Select Columns:
- *name*, *attacker_king*, *defender_king*, *attacker_size*, *defender_size*

In [7]:
battles_df=data.loc[:,['name','attacker_king','defender_king','attacker_size','defender_size']]
battles_df.head()

,name,attacker_king,defender_king,attacker_size,defender_size
0,Battle of the Golden Tooth,Joffrey/Tommen Baratheon,Robb Stark,15000.0,4000.0
1,Battle at the Mummer's Ford,Joffrey/Tommen Baratheon,Robb Stark,NaN,120.0
2,Battle of Riverrun,Joffrey/Tommen Baratheon,Robb Stark,15000.0,10000.0
3,Battle of the Green Fork,Robb Stark,Joffrey/Tommen Baratheon,18000.0,20000.0
4,Battle of the Whispering Wood,Robb Stark,Joffrey/Tommen Baratheon,1875.0,6000.0

In [8]:
battles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           38 non-null     object
 1   attacker_king  36 non-null     object
 2   defender_king  35 non-null     object
 3   attacker_size  24 non-null     float64
 4   defender_size  19 non-null     float64
dtypes: float64(2), object(3)
memory usage: 1.6+ KB

### Remove rows with any missing values (NaN)

In [9]:
battles_df_cleaned=battles_df.dropna()
battles_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 0 to 37
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           16 non-null     object
 1   attacker_king  16 non-null     object
 2   defender_king  16 non-null     object
 3   attacker_size  16 non-null     float64
 4   defender_size  16 non-null     float64
dtypes: float64(2), object(3)
memory usage: 768.0+ bytes

In [14]:
battles_df_cleaned.head(3)

,name,attacker_king,defender_king,attacker_size,defender_size
0,Battle of the Golden Tooth,Joffrey/Tommen Baratheon,Robb Stark,15000.0,4000.0
2,Battle of Riverrun,Joffrey/Tommen Baratheon,Robb Stark,15000.0,10000.0
3,Battle of the Green Fork,Robb Stark,Joffrey/Tommen Baratheon,18000.0,20000.0

### Output names of attacking kings (without repetitions):

In [16]:
attackers = battles_df_cleaned.attacker_king.unique()
print(f"Attacking kings: {attackers}")

Attacking kings: ['Joffrey/Tommen Baratheon' 'Robb Stark' 'Stannis Baratheon']

### Output names of defending kings (without repetitions):

In [17]:
defenders = battles_df_cleaned.defender_king.unique()
print(f"Defending kings: {defenders}")

Defending kings: ['Robb Stark' 'Joffrey/Tommen Baratheon' 'Balon/Euron Greyjoy'
 'Renly Baratheon' 'Mance Rayder']

### Instantiate Pyvis Network Object

In [15]:
net5kings = Network(heading="Task1. Building Interactive Network of battles of the War of 5",
    bgcolor ="#242020",
    font_color = "white",
    height = "1000px",
    width = "100%",
    directed = True, # Since attacks are directed
    notebook = True,
    cdn_resources = "remote"
)

### Define nodes - list of unique king names.

In [25]:
kings = set(list(attackers) + list(defenders))
print(f"Kings list (node names): {kings}")

Kings list (node names): {'Robb Stark', 'Mance Rayder', 'Balon/Euron Greyjoy', 'Stannis Baratheon', 'Renly Baratheon', 'Joffrey/Tommen Baratheon'}

### Add nodes to graph

In [26]:
net5kings.add_nodes(kings)
net5kings.nodes

[{'color': '#97c2fc',
  'id': 'Robb Stark',
  'label': 'Robb Stark',
  'shape': 'dot',
  'font': {'color': 'white'}},
 {'color': '#97c2fc',
  'id': 'Mance Rayder',
  'label': 'Mance Rayder',
  'shape': 'dot',
  'font': {'color': 'white'}},
 {'color': '#97c2fc',
  'id': 'Balon/Euron Greyjoy',
  'label': 'Balon/Euron Greyjoy',
  'shape': 'dot',
  'font': {'color': 'white'}},
 {'color': '#97c2fc',
  'id': 'Stannis Baratheon',
  'label': 'Stannis Baratheon',
  'shape': 'dot',
  'font': {'color': 'white'}},
 {'color': '#97c2fc',
  'id': 'Renly Baratheon',
  'label': 'Renly Baratheon',
  'shape': 'dot',
  'font': {'color': 'white'}},
 {'color': '#97c2fc',
  'id': 'Joffrey/Tommen Baratheon',
  'label': 'Joffrey/Tommen Baratheon',
  'shape': 'dot',
  'font': {'color': 'white'}}]

### Define potential edges

In [49]:
potential_edges = battles_df_cleaned.loc[:, ['attacker_king', 'defender_king']].to_numpy().tolist()
print('Potential Edges of net5kings:')
for edge in potential_edges:
    print(edge)

Potential Edges of net5kings:
['Joffrey/Tommen Baratheon', 'Robb Stark']
['Joffrey/Tommen Baratheon', 'Robb Stark']
['Robb Stark', 'Joffrey/Tommen Baratheon']
['Robb Stark', 'Joffrey/Tommen Baratheon']
['Robb Stark', 'Joffrey/Tommen Baratheon']
['Robb Stark', 'Balon/Euron Greyjoy']
['Joffrey/Tommen Baratheon', 'Robb Stark']
['Robb Stark', 'Joffrey/Tommen Baratheon']
['Stannis Baratheon', 'Renly Baratheon']
['Joffrey/Tommen Baratheon', 'Robb Stark']
['Robb Stark', 'Joffrey/Tommen Baratheon']
['Stannis Baratheon', 'Joffrey/Tommen Baratheon']
['Joffrey/Tommen Baratheon', 'Robb Stark']
['Stannis Baratheon', 'Mance Rayder']
['Stannis Baratheon', 'Balon/Euron Greyjoy']
['Stannis Baratheon', 'Joffrey/Tommen Baratheon']

### Define real edges (no repitions)

In [ ]:
edges = []
for edge in potential_edges:
    if edge not in edges:
        edges.append(edge)

edges

[['Joffrey/Tommen Baratheon', 'Robb Stark'],
 ['Robb Stark', 'Joffrey/Tommen Baratheon'],
 ['Robb Stark', 'Balon/Euron Greyjoy'],
 ['Stannis Baratheon', 'Renly Baratheon'],
 ['Stannis Baratheon', 'Joffrey/Tommen Baratheon'],
 ['Stannis Baratheon', 'Mance Rayder'],
 ['Stannis Baratheon', 'Balon/Euron Greyjoy']]

### Calculate edge weights
as total number of battles between king1 and king2, where (king1, king2) is an edge.

In [61]:
battle_counts = battles_df_cleaned.groupby(['attacker_king', 'defender_king']).count()['name']
battle_counts

attacker_king             defender_king
Joffrey/Tommen Baratheon  Robb Stark                  5
Robb Stark                Balon/Euron Greyjoy         1
                          Joffrey/Tommen Baratheon    5
Stannis Baratheon         Balon/Euron Greyjoy         1
                          Joffrey/Tommen Baratheon    2
                          Mance Rayder                1
                          Renly Baratheon             1
Name: name, dtype: int64

### Define titles for edges
using data from battles_df_cleaned about battles' name, attacker_size, and defender_size.

In [101]:
battle_names = battles_df_cleaned.groupby(['attacker_king', 'defender_king'])['name'].aggregate(', '.join)
battle_names

attacker_king             defender_king
Joffrey/Tommen Baratheon  Robb Stark                  Battle of the Golden Tooth, Battle of Riverrun...
Robb Stark                Balon/Euron Greyjoy                                Battle of Torrhen's Square
                          Joffrey/Tommen Baratheon    Battle of the Green Fork, Battle of the Whispe...
Stannis Baratheon         Balon/Euron Greyjoy                                Retaking of Deepwood Motte
                          Joffrey/Tommen Baratheon        Battle of the Blackwater, Siege of Winterfell
                          Mance Rayder                                           Battle of Castle Black
                          Renly Baratheon                                          Siege of Storm's End
Name: name, dtype: object

### Add weight and titles to each edge

In [117]:
full_edges = [] # Will contain dicts that have an edge, weight, and title

for edge in edges:
    attacker, defender = edge
    weight = battle_counts.get((attacker, defender))
    title = battle_names.get((attacker, defender))

    full_edges.append({
        'edge': edge,
        'weight': weight,
        'title': title
    })

for edge in full_edges:
    print(f'Attacking king: {edge['edge'][0]}, Defending king: {edge['edge'][1]}, N of battles: {edge['weight']}, battles: {edge['title']}')

weights = map(lambda edge: str(edge['weight']), full_edges)
print(f'edge_weights: [{', '.join(weights)}]')

Attacking king: Joffrey/Tommen Baratheon, Defending king: Robb Stark, N of battles: 5, battles: Battle of the Golden Tooth, Battle of Riverrun, Sack of Winterfell, Battle of the Fords, The Red Wedding
Attacking king: Robb Stark, Defending king: Joffrey/Tommen Baratheon, N of battles: 5, battles: Battle of the Green Fork, Battle of the Whispering Wood, Battle of the Camps, Battle of Oxcross, Sack of Harrenhal
Attacking king: Robb Stark, Defending king: Balon/Euron Greyjoy, N of battles: 1, battles: Battle of Torrhen's Square
Attacking king: Stannis Baratheon, Defending king: Renly Baratheon, N of battles: 1, battles: Siege of Storm's End
Attacking king: Stannis Baratheon, Defending king: Joffrey/Tommen Baratheon, N of battles: 2, battles: Battle of the Blackwater, Siege of Winterfell
Attacking king: Stannis Baratheon, Defending king: Mance Rayder, N of battles: 1, battles: Battle of Castle Black
Attacking king: Stannis Baratheon, Defending king: Balon/Euron Greyjoy, N of battles: 1, battles: Retaking of Deepwood Motte
edge_weights: [5, 5, 1, 1, 2, 1, 1]